.scroll-bottom {
  a {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 3.5rem;
    color: rgb(184, 183, 183);
    transition: 0.25s;
    user-select: none;
    padding: 0 14px;

    &:hover {
      font-size: 4.5rem;
    }
  }

  .left {
    left: 5%;
  }

  .right {
    left: 95%;
  }

  .bot {
    left: 50%;
    top: 95%;
  }

  .top {
    left: 50%;
    top: 5%;
  }
}
